@import"variables";
@import"generales";

/* Trabajos sobre el estilo de la nav bar que se creo con bootstrap */
.verde{
    background-color: $colorbackground2;
}
.navbar-collapse{
    display: flex;
    justify-content: center;
}
.container-fluid{
    width: 80%;
    margin: 0 auto;
}
/* trabajo con la pagina home con Flexbox*/
.flexContainerhome{
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.image-flex{
    flex-grow: 1;
    max-width: 100%;
    height: auto;
}
/* trabajo con la pagina nostros con Grid*/
.contenedornosotros {
    display: grid;
    justify-content: center;
    align-content: center;
}
.nosotros{
    grid-column: 1/4;
    grid-row: 1/2;
    align-content: center;
}
.introduccion{
    grid-column: 1/4;
    grid-row: 2/3;
    align-content: center;
}
.fotomanny{
    grid-column: 1/4;
    grid-row: 3/4;
    align-content: center;
    align-self: center;
}
.textomanny{
    grid-column: 1/4;
    grid-row: 4/5;
    align-content: center;
    align-self: center;
}
.fotosal{
    grid-column: 1/4;
    grid-row: 5/6;
    align-content: center;
    align-self: center;
}
.textosal{
    grid-column: 1/4;
    grid-row: 6/7;
    align-content: center;
    align-self: center;
}
/* trabajo con la pagina nostros con Grid - primer brakepoint para que sea responsive*/
@media screen and (min-width: 720px){
    .nosotros{
        grid-column: 1/5;
        grid-row: 1/2;
        align-content: center;
        align-self: center;
    }
    .introduccion{
        grid-column: 1/5;
        grid-row: 2/3;
        align-content: center;
        align-self: center;
    }
    .fotomanny{
        grid-column: 1/2;
        grid-row: 4/5;
        align-content: center;
        align-self: center;
    }
    .textomanny{
        grid-column: 2/5;
        grid-row: 4/5;
        align-content: center;
        align-self: center;
    }
    .fotosal{
        grid-column: 1/2;
        grid-row: 5/6;
        align-content: center;
        align-self: center;
        margin: 10px;
    }
    .textosal{
        grid-column: 2/5;
        grid-row: 5/6;
        align-content: center;
        align-self: center;
    }
}
/* trabajo con la pagina nostros con Grid - segundo brakepoint para que sea responsive*/
@media screen and (min-width: 1000px){
    .nosotros{
        grid-column: 1/5;
        grid-row: 1/2;
        align-content: center;
    }
    .introduccion{
        grid-column: 1/5;
        grid-row: 2/3;
        align-content: center;
    }
    .fotomanny{
        grid-column: 1/2;
        grid-row: 3/4;
        align-content: center;
        align-self: center;
    }
    .textomanny{
        grid-column: 2/3;
        grid-row: 3/4;
        align-content: center;
        align-self: center;
    }
    .fotosal{
        grid-column: 3/4;
        grid-row: 3/4;
        align-content: center;
        align-self: center;
    }
    .textosal{
        grid-column: 4/5;
        grid-row: 3/4;
        align-content: center;
        align-self: center;
    }
}
/* trabajo con la pagina nostros con Grid -  tercero brakepoint para que sea responsive*/
@media screen and (min-width: 2000px){
    .nosotros{
        grid-column: 1/5;
        grid-row: 1/2;
        align-content: center;
    }
    .introduccion{
        grid-column: 1/5;
        grid-row: 2/3;
        align-content: center;
    }
    .fotomanny{
        grid-column: 1/2;
        grid-row: 3/4;
        align-content: center;
        align-self: center;
    }
    .textomanny{
        grid-column: 2/3;
        grid-row: 3/4;
        align-content: center;
        align-self: center;
        margin-left: 10px;
    }
    .fotosal{
        grid-column: 3/4;
        grid-row: 3/4;
        align-content: center;
        align-self: center;
    }
    .textosal{
        grid-column: 4/5;
        grid-row: 3/4;
        align-content: center;
        align-self: center;
    }
}
/* Trabajo con Grid la pagina como trabajamos para que sea resonsive */
.cuerpoComoTrabajamos {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: repeat(10, 1fr); 
    gap: 10px; 
}
.grid-item-a {
    grid-column: 1; 
    grid-row: 1 / span 2; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.nosotrosimgAtraccion {
    width: 300px;
    height: 200px;
}
.grid-item-b {
    grid-column: 2;
    grid-row: 1;
}  
.grid-item-c {
    grid-column: 2; 
    grid-row: 2;
}
.grid-item-d {
    grid-column: 1; 
    grid-row: 3 / span 2; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.nosotrosimgInteres {
    width:  300px;
    height: 200px;
}
.grid-item-e {
    grid-column: 2; 
    grid-row: 3; 
}  
.grid-item-f {
    grid-column: 2; 
    grid-row: 4; 
}
.grid-item-g {
    grid-column: 1; 
    grid-row: 5 / span 2; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.nosotrosimgConsideracion {
    width:  300px;
    height: 200px;
}

.grid-item-h {
    grid-column: 2;
    grid-row: 5; 
}  
.grid-item-i {
    grid-column: 2; 
    grid-row: 6;
}

.grid-item-j {
    grid-column: 1; 
    grid-row: 7 / span 2; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.nosotrosimgConversion {
    width:  300px;
    height: 200px;
}

.grid-item-k {
    grid-column: 2; 
    grid-row: 7; 
}  
.grid-item-l {
    grid-column: 2; 
    grid-row: 8; 
}
.grid-item-m {
    grid-column: 1;
    grid-row: 9 / span 2;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.nosotrosimgFidelizacion {
    width:  300px;
    height: 200px;
}
.grid-item-n {
    grid-column: 2; 
    grid-row: 9;
}  
.grid-item-o {
    grid-column: 2;
    grid-row: 10; 
}


@media screen and (max-width: 720px) {
    .cuerpoComoTrabajamos {
        display: grid;
        grid-template-columns: 0.98fr ; 
        grid-template-rows: repeat(10, 1fr);  
    }
    .grid-item-a {
        grid-column: 1; 
        grid-row: 1 ; 
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
    .nosotrosimgAtraccion {
        width: 10vw;
        height: auto;
    }
    .grid-item-b {
        grid-column: 1;
        grid-row: 2;
    }  
    .grid-item-c {
        grid-column: 1; 
        grid-row: 3;
    }
    .grid-item-d {
        grid-column: 1; 
        grid-row: 4 ; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
    }
    .nosotrosimgInteres {
        width:  10vw;
        height: auto;
    }
    .grid-item-e {
        grid-column: 1; 
        grid-row: 5; 
    }  
    .grid-item-f {
        grid-column: 1; 
        grid-row: 6; 
    }
    .grid-item-g {
        grid-column: 1; 
        grid-row: 7 ; 
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    .nosotrosimgConsideracion {
        width:  10vw;
        height: auto;
    }
    
    .grid-item-h {
        grid-column: 1;
        grid-row: 8; 
    }  
    .grid-item-i {
        grid-column: 1; 
        grid-row: 9;
    }
    
    .grid-item-j {
        grid-column: 1; 
        grid-row: 10 ; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nosotrosimgConversion {
        width: 10vw;
        height: auto;
    }
    
    .grid-item-k {
        grid-column: 1; 
        grid-row: 11; 
    }  
    .grid-item-l {
        grid-column: 1; 
        grid-row: 12; 
    }
    .grid-item-m {
        grid-column: 1;
        grid-row: 13 ;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    .nosotrosimgFidelizacion {
        width:  10vw;
        height: auto;
    }
    .grid-item-n {
        grid-column: 1; 
        grid-row: 14;
    }  
    .grid-item-o {
        grid-column: 1;
        grid-row: 15; 
    }

}

.contenedor-flex {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    height: 100vh;
}
.video {
    /* Estilos para el contenedor del video */
    flex: 1 ; 
    padding: 0;
}
    /* Estilos para el iframe del video */
iframe {
    width: 100%; 
    height: 100%; 
}
.contenedorservicios {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
}

